<div class="card">
  <div class="card-header">
    <h4 class="my-card-header">DEMO</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <app-lessons-details
          [lessons]="lessons"
          (add)="onAdd($event)"
          (lessonClick)="handleLessonClicked($event)"
        >
        </app-lessons-details>
      </div>
      <div class="col-md-6">
        <details-on-lesson
          (delete)="onDelete($event)"
          [oneLesson]="oneLesson"
          [lessonIndex]="lessonIndex"
        ></details-on-lesson>
      </div>
    </div>
  </div>
</div>
